/* HEADER */
.header {
  background-color:#F7F8FA;
}

.container {

  max-width: 1200px;
  width: 100%;
  margin:0 auto;
}

.header-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
}

.menu-item a{
  display: inline-block;
  background-color: #E6EBF2;
  padding:12px 24px;
  transition: background-color .3s;
  color: #5C6066;

}

.menu-item a:hover{
  display: inline-block;
  background-color: rgba(0,0,0,.2);
}

.menu-item + .menu-item{
 margin-left:40px;
}

/* HERO SECTION */
.hero{
  display: flex;
  justify-content: space-between;
}

.hero-title{
  font-size:48px;
  font-weight: bold; /*modificar dps*/
  max-width: 694px;
  padding-top: 154px;
  margin-bottom:20px;
}

.hero-p{
  max-width: 488px;
  margin-bottom:56px;
}

.hero .btn-action{
  background-color: #F67ACB;
  padding:20px 40px;
  border:0;
  transition: filter 0.3s;
}

.hero .btn-action:hover{
  filter:brightness(.8)
}

.hero-img{
  background-color: #F7F8FA;
  width: 488px;
  height: 496px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:46px;
  margin-bottom:98px
=======
.menu .btn-action{
  background-color: #F67ACB;
  padding:12px 35px;
  color: #050110;
  border:0;
  margin-left:32px;
  transition:filter 0.2s;
}

.menu .btn-action:hover{
  filter:brightness(.8)
}